<section class="search">
  <div class="row">
    <div class="small-12 large-11 columns small-centered">
      <%= link_to "New Parent Rule", new_copy_down_path, class: "button" %>
    </div>
    <div class="small-12 large-11 columns small-centered">
      <table>
        <thead>
          <tr>
            <th>Parent Rule</th>
            <th>Child Rule</th>
            <th>Child Rule</th>
            <th>Child Rule</th>
            <th>Synced</th>
          </tr>
        </thead>

        <tbody>
          <% @copy_downs.each do |cdo| %>
            <tr>
              <% url = "https://localhost:9002/companies/#{cdo.company_id}/properties/#{cdo.property_id}/rules/#{cdo.rule_id}" %>
              <td><a target='_blank' href=<%= url %>><%=cdo.name%></a>
              <% cdo.target_rules.each do |tr| %>
                <% url = "https://localhost:9002/companies/#{tr.company_id}/properties/#{tr.property_id}/rules/#{tr.rule_id}" %>
                <td><a target='_blank' href=<%= url %>><%=tr.name%></a>
              <% end %>
              <td> <%= cdo.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
