<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Reactor Provisioning" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class='header'>
      <h1 class='headline'> Reactor API Provisioner</h1>
      <ul class="header-subnav">
      <li><a href="#" class="is-active">New Provision</a></li>
      <li><%= link_to "Previous Run", provision_index_path %></li>
      <li><a target="_blank" href="http://developer.adobedtm.com">Reactor Docs</a></li>
      <% if signed_in? %>
        <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>
      </ul>

    </header>
    <%= yield %>
  </body>
</html>
