<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Reactor Provisioning" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class='header'>
      <h1 class='headline'> Reactor API Provisioner</h1>
      <ul class="header-subnav">
        <li><%= link_to "New Provision", new_provision_path, class: new_provision_class %></li>
        <li><%= link_to "Duplicate Property", new_duplicate_path, class: menu_class(new_duplicate_path) %></li>
        <li><%= link_to "Attach Component", new_clone_path, class: menu_class(new_clone_path) %></li>
        <%# <li><%= link_to "Copy Down", copy_down_index_path, class: menu_class(copy_down_index_path) %1></li> %>
        <li><%= link_to "Previous Run", provision_index_path, class: menu_class(provision_index_path) %></li>
        <li><a target="_blank" href="http://developer.adobedtm.com">Reactor Docs</a></li>
        <% if signed_in? %>
          <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>

    </header>
    <%= yield %>
  </body>
</html>
